<html>

	<head>
		<title> Thingy </title>
		<link rel="stylesheet" type="text/css" href="my.css"/>
	</head>
	<body data-ng-app="app" >
	    <div class = "main" data-ng-controller="angularJScontroller" >
            <h1>IO test</h1>
            <hr>
            <h2>{{Counter}}</h2>
            <button class="BigButton Green" data-ng-click="click()">Add</button>
            <button class="BigButton red" data-ng-click="remove()">Remove</button>



            </div>
        </div>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script src="angularJS/app.js"></script>
        <script src="angularJS/Controllers/angularJScontroller.js"></script>
        <script>


        </script>
	</body>
</html>
